<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<h1>Анкета</h1>
<font size=5>Как бы Вы назвали эти предметы? </font>
</head>
<body>
<form method="GET" action="sky.py">
    <img src="https://pp.vk.me/c637721/v637721913/2001c/WzaeSqjxong.jpg"  width="300" height="200"/>
    <input type="text" name="name">
	<img src="https://pp.vk.me/c637721/v637721913/20024/TXX_u0rJZhs.jpg" width="300" height="200">
	<input type="text" name="name">
	<img src="https://pp.vk.me/c637721/v637721913/2002b/Ania9goCdMc.jpg" width="300" height="200">
	<input type="text" name="name">
	<img src="https://pp.vk.me/c637721/v637721913/20033/_MVW5k_n7RY.jpg" width="300" height="200">
	<input type="text" name="name">
	<img src="https://pp.vk.me/c637721/v637721913/2003d/o9lI0JopwC8.jpg" width="300" height="200">
	<input type="text" name="name">
	<img src="https://pp.vk.me/c637721/v637721913/20046/VG3lB0AhnPA.jpg" width="300" height="200">
	<input type="text" name="name">
	<img src="https://pp.vk.me/c637721/v637721913/20050/2hOdLz2pj7M.jpg" width="300" height="200">
	<input type="text" name="name">
	<img src="https://pp.vk.me/c637721/v637721913/20057/9WHB1idTRUI.jpg" width="300" height="200">
	<input type="text" name="name">
	<img src="https://pp.vk.me/c637721/v637721913/20065/-GbagxTCpBw.jpg" width="300" height="200">
	<input type="text" name="name">
	<img src="https://pp.vk.me/c637721/v637721913/2005e/UQFveJJv-Ls.jpg" width="300" height="200">
	<input type="text" name="name">
</form>
<font size=5><i>Проверьте, пожалуйста, всё ли Вы заполнили.</i></font>
<p><input type="submit" value="Отправить"></p>
</body>
</html>